*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/public/uploads/item_images/*
!/public/uploads/item_images/.gitkeep
/public/uploads/staff_photos/*
!/public/uploads/staff_photos/.gitkeep
/public/uploads/business_logos/*
!/public/uploads/business_logos/.gitkeep
/public/business_logos/*
!/public/business_logos/.gitkeep
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
